.margin_t_60 {
  margin-top: 60px !important;
}
.margin_r_60 {
  margin-right: 60px !important;
}
.margin_b_60 {
  margin-bottom: 60px !important;
}
.margin_l_60 {
  margin-left: 60px !important;
}
.margin_t_55 {
  margin-top: 55px !important;
}
.margin_r_55 {
  margin-right: 55px !important;
}
.margin_b_55 {
  margin-bottom: 55px !important;
}
.margin_l_55 {
  margin-left: 55px !important;
}
.margin_t_50 {
  margin-top: 50px !important;
}
.margin_r_50 {
  margin-right: 50px !important;
}
.margin_b_50 {
  margin-bottom: 50px !important;
}
.margin_l_50 {
  margin-left: 50px !important;
}
.margin_t_45 {
  margin-top: 45px !important;
}
.margin_r_45 {
  margin-right: 45px !important;
}
.margin_b_45 {
  margin-bottom: 45px !important;
}
.margin_l_45 {
  margin-left: 45px !important;
}
.margin_t_40 {
  margin-top: 40px !important;
}
.margin_r_40 {
  margin-right: 40px !important;
}
.margin_b_40 {
  margin-bottom: 40px !important;
}
.margin_l_40 {
  margin-left: 40px !important;
}
.margin_t_35 {
  margin-top: 35px !important;
}
.margin_r_35 {
  margin-right: 35px !important;
}
.margin_b_35 {
  margin-bottom: 35px !important;
}
.margin_l_35 {
  margin-left: 35px !important;
}
.margin_t_30 {
  margin-top: 30px !important;
}
.margin_r_30 {
  margin-right: 30px !important;
}
.margin_b_30 {
  margin-bottom: 30px !important;
}
.margin_l_30 {
  margin-left: 30px !important;
}
.margin_t_25 {
  margin-top: 25px !important;
}
.margin_r_25 {
  margin-right: 25px !important;
}
.margin_b_25 {
  margin-bottom: 25px !important;
}
.margin_l_25 {
  margin-left: 25px !important;
}
.margin_t_20 {
  margin-top: 20px !important;
}
.margin_r_20 {
  margin-right: 20px !important;
}
.margin_b_20 {
  margin-bottom: 20px !important;
}
.margin_l_20 {
  margin-left: 20px !important;
}
.margin_t_15 {
  margin-top: 15px !important;
}
.margin_r_15 {
  margin-right: 15px !important;
}
.margin_b_15 {
  margin-bottom: 15px !important;
}
.margin_l_15 {
  margin-left: 15px !important;
}
.margin_t_10 {
  margin-top: 10px !important;
}
.margin_r_10 {
  margin-right: 10px !important;
}
.margin_b_10 {
  margin-bottom: 10px !important;
}
.margin_l_10 {
  margin-left: 10px !important;
}
.margin_t_5 {
  margin-top: 5px !important;
}
.margin_r_5 {
  margin-right: 5px !important;
}
.margin_b_5 {
  margin-bottom: 5px !important;
}
.margin_l_5 {
  margin-left: 5px !important;
}
.margin_t_0 {
  margin-top: 0px !important;
}
.margin_r_0 {
  margin-right: 0px !important;
}
.margin_b_0 {
  margin-bottom: 0px !important;
}
.margin_l_0 {
  margin-left: 0px !important;
}
.padding_t_15 {
  padding-top: 15px !important;
}
.padding_r_15 {
  padding-right: 15px !important;
}
.padding_b_15 {
  padding-bottom: 15px !important;
}
.padding_l_15 {
  padding-left: 15px !important;
}
.padding_t_14 {
  padding-top: 14px !important;
}
.padding_r_14 {
  padding-right: 14px !important;
}
.padding_b_14 {
  padding-bottom: 14px !important;
}
.padding_l_14 {
  padding-left: 14px !important;
}
.padding_t_13 {
  padding-top: 13px !important;
}
.padding_r_13 {
  padding-right: 13px !important;
}
.padding_b_13 {
  padding-bottom: 13px !important;
}
.padding_l_13 {
  padding-left: 13px !important;
}
.padding_t_12 {
  padding-top: 12px !important;
}
.padding_r_12 {
  padding-right: 12px !important;
}
.padding_b_12 {
  padding-bottom: 12px !important;
}
.padding_l_12 {
  padding-left: 12px !important;
}
.padding_t_11 {
  padding-top: 11px !important;
}
.padding_r_11 {
  padding-right: 11px !important;
}
.padding_b_11 {
  padding-bottom: 11px !important;
}
.padding_l_11 {
  padding-left: 11px !important;
}
.padding_t_10 {
  padding-top: 10px !important;
}
.padding_r_10 {
  padding-right: 10px !important;
}
.padding_b_10 {
  padding-bottom: 10px !important;
}
.padding_l_10 {
  padding-left: 10px !important;
}
.padding_t_9 {
  padding-top: 9px !important;
}
.padding_r_9 {
  padding-right: 9px !important;
}
.padding_b_9 {
  padding-bottom: 9px !important;
}
.padding_l_9 {
  padding-left: 9px !important;
}
.padding_t_8 {
  padding-top: 8px !important;
}
.padding_r_8 {
  padding-right: 8px !important;
}
.padding_b_8 {
  padding-bottom: 8px !important;
}
.padding_l_8 {
  padding-left: 8px !important;
}
.padding_t_7 {
  padding-top: 7px !important;
}
.padding_r_7 {
  padding-right: 7px !important;
}
.padding_b_7 {
  padding-bottom: 7px !important;
}
.padding_l_7 {
  padding-left: 7px !important;
}
.padding_t_6 {
  padding-top: 6px !important;
}
.padding_r_6 {
  padding-right: 6px !important;
}
.padding_b_6 {
  padding-bottom: 6px !important;
}
.padding_l_6 {
  padding-left: 6px !important;
}
.padding_t_5 {
  padding-top: 5px !important;
}
.padding_r_5 {
  padding-right: 5px !important;
}
.padding_b_5 {
  padding-bottom: 5px !important;
}
.padding_l_5 {
  padding-left: 5px !important;
}
.padding_t_4 {
  padding-top: 4px !important;
}
.padding_r_4 {
  padding-right: 4px !important;
}
.padding_b_4 {
  padding-bottom: 4px !important;
}
.padding_l_4 {
  padding-left: 4px !important;
}
.padding_t_3 {
  padding-top: 3px !important;
}
.padding_r_3 {
  padding-right: 3px !important;
}
.padding_b_3 {
  padding-bottom: 3px !important;
}
.padding_l_3 {
  padding-left: 3px !important;
}
.padding_t_2 {
  padding-top: 2px !important;
}
.padding_r_2 {
  padding-right: 2px !important;
}
.padding_b_2 {
  padding-bottom: 2px !important;
}
.padding_l_2 {
  padding-left: 2px !important;
}
.padding_t_1 {
  padding-top: 1px !important;
}
.padding_r_1 {
  padding-right: 1px !important;
}
.padding_b_1 {
  padding-bottom: 1px !important;
}
.padding_l_1 {
  padding-left: 1px !important;
}
.padding_t_0 {
  padding-top: 0px !important;
}
.padding_r_0 {
  padding-right: 0px !important;
}
.padding_b_0 {
  padding-bottom: 0px !important;
}
.padding_l_0 {
  padding-left: 0px !important;
}
.z_index_10 {
  z-index: 10 !important;
}
.z_index_9 {
  z-index: 9 !important;
}
.z_index_8 {
  z-index: 8 !important;
}
.z_index_7 {
  z-index: 7 !important;
}
.z_index_6 {
  z-index: 6 !important;
}
.z_index_5 {
  z-index: 5 !important;
}
.z_index_4 {
  z-index: 4 !important;
}
.z_index_3 {
  z-index: 3 !important;
}
.z_index_2 {
  z-index: 2 !important;
}
.z_index_1 {
  z-index: 1 !important;
}
.z_index_0 {
  z-index: 0 !important;
}
.font_size_36 {
  font-size: 36px !important;
}
.font_size_34 {
  font-size: 34px !important;
}
.font_size_32 {
  font-size: 32px !important;
}
.font_size_30 {
  font-size: 30px !important;
}
.font_size_28 {
  font-size: 28px !important;
}
.font_size_26 {
  font-size: 26px !important;
}
.font_size_24 {
  font-size: 24px !important;
}
.font_size_22 {
  font-size: 22px !important;
}
.font_size_20 {
  font-size: 20px !important;
}
.font_size_18 {
  font-size: 18px !important;
}
.font_size_16 {
  font-size: 16px !important;
}
.font_size_14 {
  font-size: 14px !important;
}
.font_size_12 {
  font-size: 12px !important;
}
.font_size_10 {
  font-size: 10px !important;
}
.font_size_8 {
  font-size: 8px !important;
}
.z_index_1116 {
  z-index: 1116;
}
.z_index_9999 {
  z-index: 9999 !important;
}
.clear_b {
  clear: both;
}
.float_l {
  float: left;
}
.float_r {
  float: right;
}
.width_100 {
  width: 100%;
}
.width_120px {
  width: 120px;
}
.width_95 {
  width: 95%;
}
.width_45 {
  width: 45%;
}
.height_100 {
  height: 100%;
}
.height_auto {
  height: auto;
}
.color_fff {
  color: #FFF;
}
.color_333 {
  color: #333;
}
.color_czerwony {
  color: #C9252C;
}
.height_40 {
  height: 40px !important;
}
.position_relative {
  position: relative;
}
.position_absolute {
  position: absolute;
}
.cursor_pointer {
  cursor: pointer;
}
.ukryj {
  display: none;
}
.fa {
  padding: 2px;
}
table .fa {
  color: #333;
}
.padding_10 {
  padding: 10px;
}
.padding_0 {
  padding: 0 !important;
}
.border_r_0 {
  border-radius: 0 !important;
}
.display_none {
  display: none;
}
.tabContentStyle {
  padding: 10px;
  border: 1px solid #ddd;
  border-top: none;
}
body {
  width: 100%;
  height: 100vh;
  overflow-y: scroll;
  overflow-x: hidden;
}
body.modal-open .modal {
  overflow-x: hidden;
  overflow-y: scroll;
}
body textarea {
  resize: none;
}
body #panel_body_zawartosc {
  min-height: 200px;
}
body blockquote {
  margin: 0 0 20px 20px;
}
body .scrollX {
  overflow-x: auto;
}
a {
  color: #333;
}
.tabela_historia {
  font-size: 12px;
}
.font_weight_700 {
  font-weight: 700;
}
.form-group {
  margin-bottom: 10px;
  position: relative;
}
.form-group .form-control:focus {
  border-color: #C9252C;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(201, 37, 44, 0.6);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(201, 37, 44, 0.6);
}
.form-group .form-control.wymaganeBlad,
.form-group .form-control.blednaWartosc {
  border-color: #C9252C;
}
.panelZarejestruj .tab-content {
  border: 1px solid #ddd;
  border-top: none;
}
#przyciskUploadGrupaUpload,
.przyciskUploadGrupaUpload {
  overflow: hidden;
  height: 40px;
  position: relative;
  width: 100%;
  line-height: 25px;
}
#przyciskUploadGrupaUpload input,
.przyciskUploadGrupaUpload input {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}
/*NAGLOWEK STRONY*/
.naglowekStrony {
  -webkit-box-shadow: 2px 2px 2px 0px #666;
  -moz-box-shadow: 2px 2px 2px 0px #666;
  box-shadow: 2px 2px 2px 0px #666;
  background: #C9252C;
  border-bottom: 1px solid #FFF;
  top: 0;
  left: 0;
}
.naglowekStrony .odswierzSesje:hover {
  color: #FFF !important;
  transform: rotate(360deg);
}
.naglowekStrony .czasTrwaniaSesji {
  top: 10px;
}
.naglowekStrony .fa {
  color: #FFF;
}
/*STOPKA STRONY*/
.stopkaStrony {
  -webkit-box-shadow: 2px -2px 2px 0px #666;
  -moz-box-shadow: 2px -2px 2px 0px #666;
  box-shadow: 2px -2px 2px 0px #666;
  background: #C9252C;
  border-top: 1px solid #FFF;
  bottom: 0;
  left: 0;
}
.stopkaStrony .wersja {
  top: 10px;
}
.stronaLogowaniaRejestracji .btn-danger {
  display: none !important;
}
/*SPINER LOADER*/
.loader_spiner_tlo {
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.7);
}
.loader_spiner {
  border: 8px solid #f3f3f3;
  border-top: 8px solid #C9252C;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  animation: spin 2s linear infinite;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto auto;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.licznikSesji60SekundTlo {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1110;
  background-color: #000;
  filter: alpha(opacity=50);
  opacity: .5;
}
.licznikSesji60SekundAlert {
  width: 300px;
  height: 118px;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: #FFF;
  z-index: 1111;
  margin: auto;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  outline: 0;
  -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
  box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
}
#uzytkownikAvatarPanelPrzyciskGrupaUpload {
  width: 80%;
  overflow: hidden;
  height: 40px;
  padding: 10px;
  position: relative;
  border-radius: 0;
  margin-top: 10px;
}
#uzytkownikAvatarPanelPrzyciskGrupaUpload input {
  width: 100%;
  height: 100%;
  position: absolute;
  opacity: 0;
  top: 0;
  left: 0;
}
#uzytkownikAvatarPanelPrzyciskGrupa i {
  width: 20%;
  height: 40px;
  padding: 10px;
  position: relative;
  border-radius: 0;
  margin-top: 10px;
  text-align: center;
}
#popUpTresc .wysiwyg-popup {
  left: auto !important;
  width: 100%;
}
.bootstrap-datetimepicker-widget {
  padding: 4px !important;
}
.bootstrap-datetimepicker-widget ul,
.bootstrap-datetimepicker-widget li {
  padding-left: 0 !important;
}
.chumrkaTagow {
  text-align: center;
}
.chumrkaTagow .pojedynczyTagTekstowy {
  margin: 4px;
}
.chumrkaTagow .pojedynczyTag {
  background: #ccc !important;
  margin: 4px;
  padding: 4px 4px 4px 8px !important;
}
.chumrkaTagow .pojedynczyTag i {
  margin-left: 5px;
}
.inserHtmlEditor {
  width: 100%;
  height: 100%;
  position: relative;
  padding: 10px;
}
.inserHtmlEditor textarea {
  width: 100%;
  height: calc(100% - 44px);
}
.inserHtmlEditor .insertHtmlAktualizuj {
  margin-top: 10px !important;
}
.insertHtmlPopUp {
  left: 0 !important;
  top: 0 !important;
  width: 100%;
  height: 100%;
  border: none;
  padding-top: 33px;
}
.panelGrupaUprawnienUzytkownik:last-child {
  margin-bottom: 0 !important;
}
.nadajUprawnienieDlaWszystkichwGrupie {
  top: 11px;
  right: 10px;
}
