#popUpTytul .edytujKonkursNaglowek .popover.left {
  margin-left: -17px !important;
}
#popUpTresc2 .well:last-child {
  margin-bottom: 15px !important;
}
.konkurs {
  margin: 15px 0;
}
.konkurs .konkursOpcje {
  top: 8px;
  right: 24px;
}
.konkurs .konkursOpcje .fa {
  margin: 4px;
}
.konkurs .miniaturaKonkurs {
  overflow: hidden;
  width: 100%;
  height: 240px;
  position: relative;
}
.konkurs .miniaturaKonkurs img {
  width: 100%;
  height: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
}
.konkurs .panel,
.konkurs img {
  transition: 0.5s;
}
.konkurs:hover .panel {
  -webkit-box-shadow: 1px 1px 5px 0px #666;
  -moz-box-shadow: 1px 1px 5px 0px #666;
  box-shadow: 1px 1px 5px 0px #666;
}
.konkurs:hover .panel img {
  transform: scale(1.1) rotate(1deg);
}
.konkursDane .tab-pane,
.panelDodatkoweZdjecie .tab-pane {
  border: 1px solid #ddd;
  border-top: none;
}
.konkursDane .konkursZdjecie img,
.panelDodatkoweZdjecie .konkursZdjecie img {
  width: 100%;
  height: auto;
}
.konkursDane .wysiwyg-toolbar,
.panelDodatkoweZdjecie .wysiwyg-toolbar {
  width: 100% !important;
  border: none;
  border-bottom: 1px solid #ddd;
  margin-left: 0;
  margin-top: 0;
}
.konkursDane .dodatkoweGrafiki .miniaturaDodatkowaGrafikaKonkurs,
.panelDodatkoweZdjecie .dodatkoweGrafiki .miniaturaDodatkowaGrafikaKonkurs {
  float: left;
  width: 23%;
  height: 90px;
  margin: 10px 1% 0;
  overflow: hidden;
  border: 1px solid #FFF;
  -webkit-box-shadow: 0 0 2px 0px #666;
  -moz-box-shadow: 0 0 2px 0px #666;
  box-shadow: 0 0 2px 0px #666;
}
.konkursDane .dodatkoweGrafiki .miniaturaDodatkowaGrafikaKonkurs img,
.panelDodatkoweZdjecie .dodatkoweGrafiki .miniaturaDodatkowaGrafikaKonkurs img {
  height: auto !important;
  width: 100% !important;
  transition: 0.5s;
}
.konkursDane .dodatkoweGrafiki .miniaturaDodatkowaGrafikaKonkurs:hover img,
.panelDodatkoweZdjecie .dodatkoweGrafiki .miniaturaDodatkowaGrafikaKonkurs:hover img {
  transform: scale(1.01);
}
.konkursDane .konkursZapiszZmianyDodatkowaGrafike.margin_t_10,
.panelDodatkoweZdjecie .konkursZapiszZmianyDodatkowaGrafike.margin_t_10 {
  margin-top: 0 !important;
}
.konkursDane #przyciskUploadGrupaUpload,
.panelDodatkoweZdjecie #przyciskUploadGrupaUpload,
.konkursDane .przyciskUploadGrupaUpload,
.panelDodatkoweZdjecie .przyciskUploadGrupaUpload {
  height: 30px !important;
}
