@font-face{
	font-family:'calibri_z';
	src:url('Calibri.ttf') format('truetype');

}

@font-face{
	font-family:'calibri_z_bold';
	src:url('Calibri Bold.ttf') format('truetype');

}

 
/*RESET*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
	blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn,
	em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var,
	b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend,
	table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas,
	details, embed, figure, figcaption, footer, header, hgroup, menu, nav,
	output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0; 
	border: 0;
	font-size: 16px;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup,
	menu, nav, section {
	display: block;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

b {
	font-family: calibri_z_bold;
}

a {
	text-decoration: none;
	color: #000;
}

.required{
	-webkit-box-shadow: 0px 0px 2px 0px rgba(201, 37, 44, 1);
	-moz-box-shadow:    0px 0px 2px 0px rgba(201, 37, 44, 1);
	box-shadow:         0px 0px 2px 0px rgba(201, 37, 44, 1);
}

.clear_b{
	clear:both;
}

.margin_r_20{
	margin-right: 20px;
}
.margin_l_20{
	margin-left: 20px;
}

.czerwony_tekst{
	color:#AC273F;
	font-family: calibri_z_bold;
}

/*STRONA*/

body{
	background: rgba(0,0,0,0.7);
}

.strona{
	background: #FFF;
	width:920px;
	height:1349px;
	position: relative;
	padding: 40px;
	line-height: 1.2;
	font-family: calibri_z;
	margin:0 auto;
	overflow: hidden;
}

.strona_znak_wodny{
	color:#CCC;
	position: absolute;
	-webkit-transform:rotate(-56deg);
	transform:rotate(-56deg);
	bottom:100px;
	left:30px;
	font-family: calibri_z;
	z-index: 0;
	font-size: 120px;
	height:920px;
	width:1649px;
}
.znak_wodny_wzor{
	color:#CCC;
	position: absolute;
	-webkit-transform:rotate(16deg);
	transform:rotate(16deg);
	bottom:0px;
	left:-40px;
	font-family: calibri_z;
	z-index: 0;
	font-size: 180px;
    text-align: center;
	height:600px;
	width:900px;
    top: 60px;
}
.znak_wodny_nie_wypelniac{
	color:#CCC;
	position: absolute;
	-webkit-transform:rotate(16deg);
	transform:rotate(16deg);
	bottom:0px;
	left:-90px;
	font-family: calibri_z;
	z-index: 0;
	font-size: 60px;
    text-align: center;
	height:600px;
	width:900px;
    top: 260px;
}

.strona_tresc{
	z-index: 1;
	position: relative;
}

.logo_votum{
	width: 214px;
	height: 39px;
	background: url(../../img/logo.png);
	position:absolute;
	top:40px;
	right:40px;
}
.tytul_strony_1{
	text-align: center;
	margin-top: 40px;
}

.tytul_strony_1 p:first-child{
	font-size: 26px;
}

.tytul_strony_1 p{
	font-family: calibri_z_bold;
}
.tytul_strony{
	margin-top: -100px;
    position: absolute;
    left: 230px;
    text-align: center;
}
.tytul_strony_pierwszej{
	margin-top: 50px;
    text-align: center;
    font-size: 26px;
}
.tytul_strony_pierwszej p{
	font-family: calibri_z_bold;
    font-size: 26px;
}
.tytul_strony p:first-child{
	font-size: 26px;
}

.tytul_strony p{
	font-family: calibri_z_bold;
}
.na_podstawie_zamowienia{
	margin-top:10px;
	overflow: hidden;
}

.na_podstawie_zamowienia p{
	float:left;
	margin-right: 4px;
}
.identyfikator_przedstawiciela{
	height: 20px;
	padding:4px;
	width:258px;
	position:absolute;
	top:40px;
	left:40px;
	font-family: calibri_z_bold;
	font-size: 20px;
}
.identyfikator_przedstawiciela:AFTER{
	position:absolute;
	top:24px;
	left:4px; 
	font-size:12px;
	font-family: calibri_z;	
	content: 'IDENTYFIKATOR PRZEDSTAWICIELA';
}
.zleceniodawca{
	margin-top:34px;
	border:1px solid #AC273F;
	padding: 10px;
	border-left:5px solid #AC273F;
	position:relative;
}

.zleceniodawca:BEFORE{
	position: absolute;
	top:-26px;
	left:10px;
	content: 'ZLECENIODAWCĘ:';
	color:#AC273F;
	font-family: calibri_z_bold;
	font-size: 18px;
}

.zleceniodawca > p{
	font-size: 12px;
	margin: 4px 0px;
	font-family: calibri_z_bold;
}

.zleceniodawca .napis{
	margin: 4px 0px;
	font-family: calibri_z_bold;
}
.zgloszenie_zleceniodawca{
	margin-top:35px;
	border:1px solid #AC273F;
	padding: 5px;
	border-left:5px solid #AC273F;
	position:relative;
}

.tytul_sekcji{
	position: absolute;
	top:-26px;
    left: -5px;
	background-color: #AC273F;
	font-family: calibri_z_bold;
	font-size: 18px;
    color: #FFFFFF;
    width: 100%;
    height: 26px;
    padding-left: 10px;
}
.sekcja_tytul_lewa{
    margin-top:30px;
	text-align: left;
	font-family: calibri_z_bold;
}
.sekcja_tresc{
	text-align: justify;
}
.objasnienia{
	font-size: 10px;
    border-top: 1px solid #2B2E34;
    padding-top: 5px;
    text-align: justify;
    margin-top: 10px;
}

.strona_stopka{
	position: absolute;
	bottom:40px;
	width: 920px;
}
.bottom{
	position: absolute;
	bottom:100px;
	width: 920px;
}
.strona_stopka_numer_strony, .strona_stopka_napis{
	font-size: 14px;
}

.strona_stopka_numer_strony{
	text-align: center;
}

.strona_stopka_napis{
	text-align: right;
}

.pogrubienie{
	font-family: calibri_z_bold;
}
.rozmiar_czcionki .element .kratka {
	padding-bottom:1px;
	border:1px solid #2B2E34;
	margin-right: 3px;
    float: left;
    background-color: #FFFFFF;
    color: #000;
}
.odstapienie{
	margin-top:34px;
	border:1px solid #AC273F;
	padding: 10px;
	border-left:5px solid #AC273F;
	position:relative;
    padding-bottom: 30px;
}
.tytul_formularza {
    position: absolute;
    top: 8px;
	left: 8px;
	color:#AC273F;
	font-family: calibri_z_bold;
	font-size: 16px;
}
.odstapienie_adres_votum {
    margin-left:60%;
    margin-top: 18px;
}
.formularz_odstapienie_tytul {
    font-size: 18px;
    text-align: center;
    margin-top: 20px;
    font-weight: bold;
}
.formularz_odstapienie_podtytul {
    text-align: center;
}
.odstapienie_data {
    text-align: center;
    margin-top: 25px;
}
.konsument {
    margin-left:60%;
    margin-top: 40px;
}
.dane_konsumenta {
   margin-bottom: 30px;
}
.dane_konsumenta_podpis {
    font-weight: bold;
    border-bottom: 1px solid #2B2E34;
    margin-top:25px;
    font-size: 18px;
}
.dane_konsumenta_info {
    border-top: 1px solid #2B2E34;
    font-size: 10px;
    margin-right: 80px;
    text-align: left;
}
.odstapienie_adres_votum_big .pogrubienie, .odstapienie_adres_votum_big {
    margin-left:60%;
    margin-top: 18px;
    font-size: 20px;
}
.formularz_odstapienie_tytul_big {
    font-size: 24px;
    text-align: center;
    margin-top: 120px;
    font-weight: bold;
}
.formularz_odstapienie_podtytul_big {
    text-align: center;
    font-size: 18px;
    margin-top: 15px;
}
.odstapienie_data_big {
    text-align: left;
    margin-top: 50px;
    font-size: 22px;
}
.konsument_big {
    margin-left:60%;
    margin-top: 100px;
}
.dane_konsumenta_big {
   margin-bottom: 40px;
}
.dane_konsumenta_podpis_big {
    font-weight: bold;
    border-bottom: 1px solid #2B2E34;
    margin-top:35px;
    font-size: 20px;
}
.dane_konsumenta_info_big {
    border-top: 1px solid #2B2E34;
    font-size: 14px;
    margin-right: 80px;
    text-align: left;
    font-weight: bold;
}
.formularz{
	margin-top:10px;
	border:1px solid #AC273F;
	border-left:5px solid #AC273F;
	position:relative;
    height: auto;
}
.tytul_sekcji_formularza{
	background-color: #AC273F;
	border:1px solid #AC273F;
	border-left:5px solid #AC273F;
    height: 25px;
    position: relative;
}
.tresc_sekcji_fomularza {
    padding: 5px;
}
.rozmiar_czcionki .element, .rozmiar_czcionki .pogrubienie {
    font-size: 14px;
}
.pola_w_tytule {
    font-size: 16px;
    float: left;
    font-family: calibri_z_bold;
    color: #FFFFFF;
}
.element{
	float:left;
	margin-top:2px;
}
.elementt{
	float:left;
	margin-top:2px;
    position: relative;
}
.element p{
	font-size: 12px;
	font-family: calibri_z_bold;
}
.element div{
	border:1px solid #231F20;
	padding: 2px;
    height: 20px;
}
.element_pojazd div{
	border:1px solid #231F20;
	padding: 2px;
}
.element_pojazd{
	border:1px solid #231F20;
	padding: 2px;
}
.element_pojazd p{
	font-size: 12px;
	font-family: calibri_z_bold;
}
.naglowek_sekcji{
	text-align: center;
	font-size: 20px;
	font-family: calibri_z_bold;
	margin:10px 0px 0px;
}
.zleceniobiorca{
	margin-top:14px;
	border:1px solid #636466;
	padding: 10px;
	border-left:5px solid #636466;
	position:relative;
}

.zleceniobiorca:BEFORE{
	position: absolute;
	top:-26px;
	left:10px;
	content: 'ZLECENIOBIORCY:';
	color:#636466;
	font-family: calibri_z_bold;
	font-size: 18px;
}

.zleceniobiorca p{
	text-align: justify;
}
.posiadacz_rachunku_imie, .posiadacz_rachunku_nazwisko {
    width: 430px;
}
.zleceniobiorca div{
	border:1px solid #231F20;
	padding: 4px;
	font-size: 16px;
	margin-top:4px;
}
.male_litery {
    font-size: 12px;
    margin-top: 4px;
}
.margin_b_10 {
    margin-bottom: 10px;
}
.zleceniodawca_nr_rachunku{
	width:634px;
    letter-spacing: 2px;
}
.zleceniodawca_imie, .zleceniodawca_w_imieniu_imie{
	width:426px;
}
.zleceniodawca_nazwisko, .zleceniodawca_w_imieniu_nazwisko, .zleceniodawca_telefon{
	width:426px;
}
.zleceniodawca_telefon_2{
	width:226px;
}
.zleceniodawca_wiek{
	width:60px;
}
.zleceniodawca_ulica, .zleceniodawca_w_imieniu_ulica, .posiadacz_rachunku_ulica{
	width:290px;
}
.zleceniodawca_pesel, .zleceniodawca_seria_i_numer_dowodu {
	width:201px;
}
.zleceniodawca_seria_i_numer_dowodu_2, .zleceniodawca_pesel_2 {
	width:130px;
}
.zleceniodawca_nr_domu, .zleceniodawca_w_imieniu_nr_domu, .posiadacz_rachunku_nr_domu {
	width:52px;
	margin-right: 4px;
}
.zleceniodawca_nr_mieszkania, .zleceniodawca_w_imieniu_nr_mieszkania, .posiadacz_rachunku_nr_mieszkania {
	width:78px;	
}
.zleceniodawca_kod_pocztowy, .zleceniodawca_w_imieniu_kod_pocztowy, .posiadacz_rachunku_kod_pocztowy {
	width:80px;
}
.zleceniodawca_miejscowosc, .zleceniodawca_w_imieniu_miejscowosc, .posiadacz_rachunku_miejscowosc{
	width:293px;
}
.zleceniobiorca_reprezentant {
    height: 18px;
}
.poszkodowany_pokrewienstwo, .adres_poszkodowanego {
    width: 875px;
}
.poszkodowany_imie, .rachunek_poszkodowanego, .podmiot_rachunku, .wskazany_posiadacz_rachunku {
	width:426px;
}
.poszkodowany_nazwisko{
	width:426px;
}
.poszkodowany_pesel, .poszkodowany_nip {
	width:201px;
}
.poszkodowany_seria_i_numer_dowodu {
    width:601px;
}
.data_smierci {
    width: 80px;
}
.margin_r_20{
	margin-right: 20px;
}
.tresc_sekcji_fomularza > p{
	font-size: 12px;
	margin: 4px 0px;
	font-family: calibri_z_bold;
}
.zleceniodawca_email {
    width:318px;
}
.sekcja_tytul {
    text-align: center;
    font-family: calibri_z_bold;
}
.sekcja_paragraf {
    text-align: center;
    font-family: calibri_z_bold;
}
.sekcja {
    position: relative;
    margin-top: 20px;
}
.kratka{
	padding:0px 4px;
	border:1px solid #2B2E34;
	margin-right: 4px;
    float: left;
    background-color: #FFFFFF;
    color: #000;
}
.kratka_pojedyncza {
    padding: 0px 4px;
    border: 1px solid #2B2E34;
    margin-right: 4px;
}
.kratka_element{
	padding-top: 14px;
	width:240px;
}
.element .kratka {
    padding: 0px 4px;
    margin-right: 2px;
    margin-left: 2px;
}
.miejsce_zdarzenia{
	width:690px;
}
.margin_l_20{
	margin-left: 20px;
}
.tekst_lewe {
    margin-top: 5px;
    float:left;
}
.pojazd_marka{
	width:397px;
}
.podpis_prawo{
	float:right;
	border-top: 1px solid #2B2E34;
	width:350px;
	text-align: right;
	margin-top:50px;
}
.podpis_lewo{
	float:left;
	border-top: 1px solid #2B2E34;
	width:350px;
	margin-top:50px;
}
.naglowek_lewo{
	float:left;
	border-top: 1px solid #2B2E34;
	width:350px;
	margin-top:30px;
}
.podpis_przedstawiciela {
    width:360px;
    height: 19px;
}
.id_przedstawiciela {
    width:160px;
    border: 0px;
    margin-top: 3px;
}
.element .id_przedstawiciela, .element .kod_jednostki, .element .kod_konsultanta, .element .nr_sprawy{
	padding: 0px;
    border: 0px;
    font-size: 18px;
}
.rodzaj_wypadku p{
	margin-top: -80px;
    position: absolute;
    left: 300px;
    font-size: 12px !important;
    font-weight: bold;
}
.nastepstwa_wypadku p{
	margin-top: -65px;
    position: absolute;
    left: 300px;
    font-size: 12px !important;
    font-weight: bold;
}
.skany p{
    margin-top: -10px;
    position: absolute;
    right: 50px;
    font-size: 12px !important;
    font-weight: bold;
}
.data_wplywu{
    margin-top: -115px;
    height: 100px;
    width: 200px;
    position: absolute;
    right: 50px;
    border: 1px solid #2B2E34;
}
.sygnatura_akt {
    width:360px;
    height: 19px;
}
.formularz_szary{
	margin-top:10px;
	border:1px solid #8d8d8d;
	border-left:5px solid #8d8d8d;
	position:relative;
}
.tytul_sekcji_formularza_szary{
	background-color: #8d8d8d;
	border:1px solid #8d8d8d;
	border-left:5px solid #8d8d8d;
    height: 24px;
    position: relative;
}
.height_250 {
    height: 250px;
}
.element .oswiadczenie_o_danych {
    border: none;
    margin-left: 35px;
    position: inherit;
}
.margin_top_5 {
    margin-top: 4px;
    margin-left:12px !important;
}
.ramka{
	border:0px solid #231F20;
	padding: 2px;
    margin-top: 20px;
    width: 500px;
}
.ramka .element {
    border: none;
}
.small_font {
    font-size: 12px !important;
	font-family: calibri_z_bold;
}
.dwa_wiersze {
    height: 48px;
}
.formularz_czerwony{
	margin-top:34px;
	border:1px solid #AC273F;
	padding: 10px;
	border-left:5px solid #AC273F;
	position:relative;
}
.formularz_czerwony:BEFORE{
	position: absolute;
	top:-26px;
	left:10px;
	content: 'JA NIŻEJ PODPISANY/A:';
	color:#AC273F;
	font-family: calibri_z_bold;
	font-size: 18px;
}
.formularz_czerwony > p{
	font-size: 12px;
	margin: 4px 0px;
	font-family: calibri_z_bold;
}
.formularz_czerwony .napis{
	margin: 4px 0px;
	font-family: calibri_z_bold;
}
.formularz_czerwony_oswiadczenie{
	margin-top:34px;
	border:1px solid #AC273F;
	padding: 10px;
	border-left:5px solid #AC273F;
	position:relative;
}
.formularz_czerwony_oswiadczenie:BEFORE{
	position: absolute;
	top:-26px;
	left:10px;
	content: 'JA NIŻEJ PODPISANA/Y OŚWIADCZAM, ŻE:';
	color:#AC273F;
	font-family: calibri_z_bold;
	font-size: 18px;
}
.formularz_czerwony_oswiadczenie > p{
	font-size: 12px;
	margin: 4px 0px;
	font-family: calibri_z_bold;
}
.fformularz_czerwony_oswiadczenie .napis{
	margin: 4px 0px;
	font-family: calibri_z_bold;
}
.tekst_szary{
	position: absolute;
	margin-left: 15px;
    margin-top:10px;
	color:#8d8d8d;
	font-family: calibri_z_bold;
	font-size: 18px;
}
.margin_top_35 {
    margin-top: 35px;
}
.padding_6 {
    padding: 6px;
}
.logo_kairp{
	width: 400px;
	height: 50px;
	background: url(../../img/logo_kairp.png);
	position:absolute;
	top:40px;
	left:40px;
}
.naglowek_z_data{
	float:right;
	width:400px;
	text-align: right;
	margin-top:100px;
}
.pelnomocnictwo_tytul{
	margin-top: 200px;
    margin-bottom: 100px;
    text-align: center;
    font-size: 26px;
}
.pelnomocnictwo_tytul p{
	font-family: calibri_z_bold;
    font-size: 26px;
}
.margin_top_100 {
    margin-top: 100px;
}
.margin_top_200 {
    margin-top: 200px;
}
.linie_lewo {
    float:left;
	border-bottom: 1px solid #2B2E34;
	width:350px;
	margin-top:30px;
}
.linie_prawo {
    right: 0px;;
	width:350px;
	margin-top:30px;
    position: absolute;
    text-align: right;
    margin-right: 60px;
}
.linie_full {
    float:left;
	border-bottom: 1px solid #2B2E34;
	width:100%;
	margin-top:30px;
    margin-bottom: 10px;
}
.font_red {
    color: #AC273F;
    font-family: calibri_z_bold;
}
.linie {
    border-bottom: 1px solid #2B2E34;
    width: 300px;
}
.podpis_czyz{
	width: 200px;
	height: 120px;
	background: url(../../img/dc_podpis.png);
	float: right;
    overflow: auto;
}
.podpis_czyz:AFTER{
	position: absolute;
	top:390px;
	right:90px;
	content: 'Prezes Zarządu Dariusz Czyż';
    font-size: 12px;
}
.baner_red {
    margin-top:15px;
    background-color: #8F3B3C;
    font-family: calibri_z_bold;
    color: #FFF;
    font-size: 22px;
    text-align: center;
    height: 34px;
    padding-top: 5px; 
}
ul li {
    list-style-type: square;
    margin-left: 16px;
}
.qr{
	width: 150px;
	height: 150px;
	background: url(../../img/qr.png);
    margin-right: 60px;
    float: right;
}
.pogrubienie span {
    font-weight: 700;
}
.logo_fair_play{
	width: 130px;
	height: 62px;
	background: url(../../img/fair_play.jpg);
    margin-left: 10px;
    float: left;
    position: absolute;
    top:30px;
}
.stopka_do_lewej {
    text-align: left;
    font-size: 12px;
    margin-left: 50px;
}
.logo_gpw{
	width: 50px;
	height: 41px;
	background: url(../../img/gpw.png);
    margin-right: 60px;
    margin-top: 10px;
    float: right;
}
.margin_top_70 {
    margin-top:70px;
}